everyMinutes: 5 # 每隔N分钟执行
provinces: # 库存省份，省份有货后通知
  - 江苏
  - 浙江
  - 上海
skuIds: # 监控商品ids
  - 100014150579
delay: 5500 # 每次查询延迟（毫秒），建议设置大些，防止触发风控
ua: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36 Edg/129.0.0.0
enableNotify: false # 启用通知
notifyType: "dingtalk_bot" # 通知方式（dingtalk_bot）
dingtalkBot: # 钉钉机器人通知
  token:
  secret:
